@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    background-color: white;
    height: 100vh;
}

nav {
    display: flex;
    background: rgb(43, 43, 43);
}

.nav-hello span {
    margin-left: 10px;
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-size: 30px;    
    color: white;
}

.logged {
    display: relative;
    padding-left: 300px; 
    max-width: 100%;
    margin: 100px auto
}

.logged div { 
    height: auto;
    margin-top: 220px;
}

.logged h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 100px;
    color: rgb(22, 22, 22);

}

.image {
    position: absolute;
    top: 190px;
    left: 900px;
}

.dropbtn {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.dropdown-list {
    text-align: center;
    margin-left: 10px;
    display: none;
    position: absolute;
    background-color: rgb(43, 43, 43);
    min-width: 200px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    margin-top: 8px;
    border-radius: 4px;
}

.dropdown-list p {
    font-family: "Poppins", sans-serif;
    color: white;
    padding: 15px px;
    font-weight: normal;
}

.dropdown:hover .dropdown-list { /*Pseudo-class (hover)*/
    display: block;
}

.dropdown-list p:hover {
    background-color: rgb(43, 43, 43);
}

@media (max-width: 600px) {
    body {
        background-color: white;
    }
}
